.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    top: 70px;

    //================делаем переход на главную плавным==================
    scroll-behavior: smooth;
    //============прикручиваем скролл к началу компонента=================
    scroll-snap-type: y proximity;
    &::-webkit-scrollbar{
      display: none;
    }

    //============для всех компонентов ширина и высота====================
    > *{
      width: 100vw;
      height: calc(100vh - 70px);
      //==========привязываем прокрутку к началу компонентов==============
      scroll-snap-align: start;


    }
  }
}
